.sheet-content-cl {
  display: flex;

  > * + * {
    margin-left: 1cm;
  }
}

.sheet-content-cl-left {
  width: 4cm;
  flex-shrink: 0;

  > * {
    > *:nth-child(1) {
      color: var(--text-color-secondary);
    }

    > * + * {
      margin-top: var(--spacer-sm-1);
    }
  }

  > * + * {
    margin-top: 1cm;
  }
}
