.sheet-content-cv {
  display: flex;

  > * + * {
    margin-left: 1cm;
  }
}

.sheet-content-cv-left {
  flex: 1;
}

.sheet-content-cv-right {
  width: 6cm;
  flex-shrink: 0;
}

.sheet-content-cv-left,
.sheet-content-cv-right {
  > * + * {
    margin-top: var(--spacer-sm-2);
  }
}
