.sheet-header {
  display: flex;
  align-items: center;

  img {
    width: 3cm;
    height: 3cm;
    border-radius: 50%;

    &.grayscale {
      filter: grayscale(1);
    }
  }
}

.sheet-header-left {
  flex: 1;
  display: flex;
  align-items: center;

  > * + * {
    margin-left: var(--spacer-1);
  }
}

.sheet-header-name-title {
  display: flex;
  flex-flow: column;

  >*+* {
    margin-top: var(--spacer-sm-1);
  }
}

.sheet-header-name {
  font-size: var(--font-size-xxl);
  font-weight: bold;
}

.sheet-header-title {
  color: var(--text-color-secondary);
}

.sheet-header-right {
  font-size: var(--font-size-sm);

  > * + * {
    margin-top: var(--spacer-sm-1);
  }

  > * {
    display: flex;
    align-items: center;
  }

  .app-icon {
    margin-right: var(--spacer-sm-2);
  }
}
